*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #221F1F;
    font-family: 'Poppins', sans-serif;
}
.curved{
    width: 280px;
    height: 200px;
    /* background: transparent url(/Logo/curved\ line.png); */
    mix-blend-mode: multiply;
    position: relative;
    left: 990px;
    bottom: 530px;
    transform: rotate(105deg);
    display: block; 
    /* border-radius: 50%; */
    

}
header{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    position: absolute;
}
.nav_links{
    position: relative;
    display: flex;
    left: 550px;
    top: 25px;
}
#homelogo{
    color: white;
    font-size: 50px;
}
nav{
   
    padding: 0px 40px;
    justify-content: space-between;
}
.nav_links li{
    padding: 0px 30px;
    list-style: none;
    font-weight: 400;
}
.nav_links li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    position: relative;
    left: 30px;
    letter-spacing: 0.075em;
    

}
.nav{
    position: absolute;
   
    padding: 10px;
    margin: 5px;
    font-size: 40px;
    font-weight: 700;
    /* color: #B81024; */
    left: 50px;
    top: 20px;
}
.foodname{
    color: #E50914;
    letter-spacing: 2px;
    cursor: pointer;
    font-size: 40px;
    text-decoration: none;
    padding-left: 50px;
    font-weight: 700;
}
.foodname:hover{
    color: #B81024;
}

#logo{
   color: #F5F5F1;
   font-size: 30px;
    position: relative;
   bottom: 4px;
   /* right: 10px; */ 
    
}
/* .carousel-item{
    height: 500px;
    width: 500px;
    
} */
/* .carousel-inner > .item > img {
    width:50px;
    height:60px;
  } */


/* Carousel */
#carouselExampleCaptions{
    position: relative;
    padding-left: 50px;
    filter: drop-shadow(13px 17px 3px rgba(10, 9, 9, 0.29));
    padding-bottom: 10px;
}
.carousel-inner{
    border-radius: 20px;
}
  .carousel {
    position: relative;
    top: 150px;
    width:50%;
    height:560px;
    /* left: 50px; */
  }
  .carousel > img{
    object-fit: scale-down;
  }
.spinner-border{
    position: relative;
    left: 500px;
}
#vian{
    width: 100%;
    height: 450px;

}
h5{
    /* color: #B81024; */
    color: #F5F5F1;
    font-family: 'Roboto', sans-serif;
}
p{
    /* color: #B81024; */
    color: #F5F5F1;
    font-family: 'Roboto', sans-serif;
}

/* List of Ulam */
.ulamToday{
    color: white;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    left: 63%;
    bottom: 65%;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.075em;
}
.listOfUlam{
    color: #E50914;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    left: 43%;
    bottom: 30px;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2px;
    
}
.clickTheUlam{
    color: #F5F5F1;
    font-style: normal;
    position: absolute;
    left: 67%;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 15px;
    padding-bottom: 15px;

    bottom: 57%;
    font-size: 20px;
    font-weight: 700;
    border-radius: 20px;
    background-color: #B20710;
    border: none;
    box-shadow: 0px 14px 4px rgba(0, 0, 0, 0.25);
    letter-spacing: 0.075em;
}
.gulays{
    color: #F5F5F1;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    left: 46%;
    bottom: -1px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 100px;
    background-color: #221F1F;
    border: none;
    letter-spacing: 3px;
}


/* Footer */
.footer{
    background-color: #B20710;
    position: absolute;
    bottom: -3794px;
    width: 100%;
    height: 35%;
    
}
.footer .footer-about{
    position: absolute;
    left: 44%;
}
.footer h3{
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 50px 30px;

}
.footer .wafudto p{
    padding: 90px 30px;
    text-align: center;
}

.logo-contact{
    position: relative;
    top: -70px;
    color: white;
    text-align: center;
    font-size: 20px;
}
.logo-contact i{
    padding: 0px 15px;
    cursor: pointer;
}
.cc{
    position: relative;
    top: 20px;
    font-size: 13px;
}