body{
    font-family: 'Poppins', sans-serif;
}
.ginataan{
    position: relative;
    width: 350px;
    height: 300px;
    object-fit: cover;
    left: 20px;
    bottom: -290px;
    border-radius: 100%;
}
.miswa{
    position: relative;
    width: 350px;
    height: 300px;
    object-fit: cover;
    left: 410px;
    bottom: 48px;
    border-radius: 100%;
}
.adobo{
    position: relative;
    width: 350px;
    height: 300px;
    object-fit: cover;
    left: 810px;
    bottom: 386px;
    border-radius: 100%;
}
.egg{
    position: relative;
    width: 350px;
    height: 300px;
    object-fit: cover;
    left: 1210px;
    bottom: 724px;
    border-radius: 100%;
}

.ulamToday{
    left: 95px;
    letter-spacing: 3px;
    color: white;
    font-size: 40px;
     font-weight: 400;

}
.ulamSoup{
    letter-spacing: 3px;
    color: white;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    left: 500px;
    bottom: 65%;
    font-size: 40px;
     font-weight: 400;
}
.ulamSauce{
    letter-spacing: 3px;
    color: white;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    left: 820px;
    bottom: 65%;
    font-size: 40px;
    font-weight: 400;
}
.ulamFried{
    letter-spacing: 3px;
    color: white;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    left: 1220px;
    bottom: 65%;
    font-size: 40px;
     font-weight: 400;
}

#gulayButton{
    position: relative;
    left: 122px;
    bottom: -340px;
}
#soupButton{
    position: relative;
    left: 525px;
    bottom: -3px;
}
#sauceButton{
    position: relative;
    left: 925px;
    bottom: 337px;
}
#friedButton{
    position: relative;
    left: 1330px;
    bottom: 675px;
}